<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="r.css">
</head>
<body>
    <section>
        <div class="register">
            <form action="">
                <h2>Register</h2>

                <div class="input-group">
                    <span class="icon">
                <ion-icon name="person-outline"></ion-icon>
                    </span>
                    <input type="text" required>
                    <label >Username</label>
                </div>

                <div class="input-group">
                    <span class="icon">
                <ion-icon name="mail-open-outline"></ion-icon>
                    </span>
                    <input type="email" required>
                    <label >Email</label>
                </div>

                <div class="input-group">
                    <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
                    </span>
                    <input type="password" required> 
                    <label>Password</label>
                </div>

                <div class="input-group">
                    <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
                    </span>
                    <input type="password" required>    
                    <label>Confirm Password</label>
                </div>
                
                
                    <!-- <button type="submit">Submit</button> -->
                     <div class="button-container">
                    <button type="submit">Submit</button>
                </div>
                    
                    
            </form>
        </div>
    </section> 
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>